{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
   <h1 class="text-center">Vous êtes sur la page About</h1>
   <img src="{{ asset('images/about.svg') }}" width="500" height="500" alt="About" class="rounded mx-auto d-block">
{% endblock %}