{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
   <h1 class="text-center">Bienvenue !</h1>
   <img src="{{ asset('images/welcome.jpg') }}" class="rounded mx-auto d-block"alt="Bienvenue">
{% endblock %}
